@value colors: '../colors.css';
@value deemphasized from colors;

.background {
  background-color: #B6E37A;
  background: linear-gradient(#B6E37A, #B8E986);
}

.titleLink {
  text-decoration: none;
}

.title {
  color: deemphasized;
  font-family: Kameron, serif;
  font-size: 26px;
  font-weight: 200;
}

.headline {
  font-family: Lato;
  line-height: 1.2;
  font-size: 32px;
  font-weight: 100;
}

.icon {
  margin-right: 10px;
  height: 35px;
  width: auto;

  & g {
    fill: deemphasized;
  }
}
