.container {
  composes: wrapper from '../../grid.css';
  position: relative;
  overflow: hidden;

  flex-flow: column nowrap;
  justify-content: space-around;
}

.outer {
  background-color: #649334;
}

.callout {
  font-family: Lato;
  font-weight: bold;
  font-size: 24px;
  color: white;
  z-index: 2;
  margin: 0;
}

.coin {
  position: absolute;
  top: -5px;
  height: 110%;
  transform: rotate(-35deg);
  width: auto;
  & g {
    fill: #B8E98646;
  }
}
