.list {
}

.item {
}

.bullet {
}

.title,
.description {
  margin: initial;
}

.title {
  font-family: Muli;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 15px;
}

.description {
  font-family: Kameron;
  font-size: 20px;
}