.container {
  composes: wrapper from './theme.css';

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 200px;
}

.callout {
  font-family: Lato;
  font-weight: bold;
  font-size: 32px;
  color: white;
}