.container {
  composes: wrapper from './theme.css';

  display: flex;
  flex-flow: column wrap;
  height: 415px;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 100px;
}

.benefit {
  width: 550px;
  text-align: left;

  &:nth-child(4) {
    margin-top: 72px;
  }

  &:nth-child(5) {
    margin-bottom: 72px;
  }
}