.container {
  composes: wrapper from '../../grid.css';

  display: flex;
  flex-flow: column wrap;
  height: 435px;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 100px;
}

.benefit {
  width: 425px;
  text-align: left;

  &:nth-child(4),
  &:nth-child(5) {
    align-self: flex-end;
  }

  &:nth-child(4) {
    margin-top: 72px;
  }

  &:nth-child(5) {
    margin-bottom: 72px;
  }
}