@value colors: '../../colors.css';
@value deemphasized from colors;

:root {
  --logoSize: 180px;
}

.container {
  composes: wrapper from './theme.css';
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 454px;
  width: 100%;
}

.titleLink {
  display: flex;
  margin-right: auto;
  align-items: center;
  height: 80px;
}

.title {
  margin: 0;
}

.logo,
.headline {
  flex: 1 0 100%;
}

.headline {
  composes: medium from './grid.css';
}
