:root {
  --logoSize: 180px;
}

.container {
  composes: large from './grid.css';
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.logo {
  composes: wireframe from '../../utils/wireframe.css';
}

.title {
  composes: wireframe from '../../utils/wireframe.css';
}

.headline {
  composes: wireframe from '../../utils/wireframe.css';
  composes: medium from './grid.css';
}