@value --medium-viewport, --large-viewport from '../../grid.css';

.container {
  composes: wrapper from '../../grid.css';

  display: flex;
  flex-flow: row wrap;

  justify-content: space-around;
  align-items: center;

  min-height: 440px;

  padding: 5px 0;
}

.benefit {
  margin: 5px 0;

  @media --medium-viewport , --large-viewport {
    flex: 0 1 45%;

    &:last-child {
      flex-basis: 55%;
    }
  }
}