@value colors: '../../colors.css';
@value deemphasized from colors;

:root {
  --logoSize: 125px;
}

.container {
  display: flex;
  flex-flow: column wrap;
  height: 205px;
}

.logo {
  flex: 0 0 100%;
  order: 1;
  width: auto;
  height: var(--logoSize);
}

.title {
}

.headline {
  order: 3;
}

.titleLink {
  order: 2;
}

.icons {
}