@value --large-viewport: (min-width: 769px);
@value --medium-viewport: (min-width: 667px) and (max-width: 772px);

:root {
  --full-width: 1120;
  --ratio: 1.61803398875;
}

.wrapper {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  max-width: calc(var(--full-width) * 1px);
  margin: 0 auto;
  padding: 0 12px;
}

.medium {
  max-width: calc((var(--full-width) / (var(--ratio) * 1.4)) * 1px);
}

.large {
  max-width: calc((var(--full-width) / var(--ratio) * 1.2) * 1px);
}
