.title,
.description {
  margin: initial;
}

.title {
  font-family: Muli;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 15px;
}

.description {
  font-family: Kameron;
  font-size: 18px;
}